
* {
    font-family: 'Open Sans', sans-serif;
}
.outerBody {
    margin: 2em;
}
h1 {
    font-family: 'Varela Round', sans-serif;
}
iframe {
    width: 100%;
    margin: 0px;
    padding: 0px;
    min-height: 500px;
    border: none;
}
nav {
    margin: 2rem 0 1rem 0
}
footer {
    font-size: 0.8em;
    margin-top: 4rem;
    border-top: 1px solid rgba(204, 204, 204, 0.795);
    color: #ccc
}
footer  a{
    color:darkgray;
}
#homePanel h5 {
    padding: 1rem 0 0 0 ;
}